.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  line-height: 1;
  font-size: 1rem;
  border-radius: 8px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

  /* ====== Variants =============================== */
 .button_primary {
  background-color: var(--p-2);
  color: var(--white);
}

.button_primary:hover {
  background-color: #c13e1f; /* använd en mörkare färg direkt */
}

  /* &--primary:hover {
    background-color: darken(var(--p-2, 10%));
  } */

.button_secondary {
  background-color: #eee;
  color: var(--secondary-5);
}

.button_secondary:hover {
  background-color: var(--p-hover-1);
  color: var(--secondary-6);
}

  /* Need Help?-knappen */
.button_neutral {
  background-color: var(--p-1-opacity-10);
  color: var(--secondary-6);
}

.button_neutral:hover {
  background-color: var(--p-hover-1);
}

  /* ====== Sizes =============================== */
  /* exempelvis Save-Cancel-knappen */
.button_small {
  padding: 0.5rem 0.75rem;
}
  /* Standardstorlek för de flesta knappar. Exempelvis Send Invite-knappen */
.button_medium {
  padding: 0.75rem 0.875rem;
}

  /* exempelvis: Continue-knappen */
.button_large {
  padding: 1rem 2rem;
  width: 100%;
}

  /* ====== Shapes =============================== */
.button_square {
  width: 40px;
  height: 40px;
  padding: 0;
}

  /* exempelvis Help-knappen i headern */
.button_pill {
  border-radius: 999px;
}

  /* ====== Disabled State =============================== */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




