.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: fit-content;
  line-height: 1;
  font-size: 1rem;
  border-radius: 8px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* ====== Variants =============================== */
.button_primary {
  background-color: var(--p-2);
  color: var(--white);
}

.button_primary:hover {
  background-color: var(--p-hover-2);
}

.button_primary:focus {
  outline: 3px solid var(--primary-6);
  outline-offset: 2px;
}

.button_secondary {
  background-color: #eee;
  color: var(--secondary-5);
}

.button_secondary:hover {
  background-color: var(--p-hover-1);
  color: var(--secondary-6);
}

.button_secondary:focus {
  outline: 3px solid var(--secondary-5);
  outline-offset: 2px;
}

/* Need Help?-knappen */
.button_neutral {
  background-color: var(--p-1-opacity-10);
  color: var(--secondary-6);
}

.button_neutral:hover {
  background-color: var(--p-hover-1);
}

.button_neutral:focus {
  outline: 3px solid var(--secondary-5);
  outline-offset: 2px;
}
/* ====== Sizes =============================== */
/* exempelvis Save-Cancel-knappen */
.button_small {
  padding: 0.5rem 0.75rem;
}
/* Standardstorlek för de flesta knappar. Exempelvis Send Invite-knappen */
.button_medium {
  padding: 0.75rem 0.875rem;
}

/* exempelvis: Continue-knappen */
.button_large {
  padding: 1rem 2rem;
  width: 100%;
}

/* ====== Shapes =============================== */
.button_square {
  width: 40px;
  height: 40px;
  padding: 0;
}

/* exempelvis Help-knappen i headern */
.button_pill {
  border-radius: 999px;
}

/* ====== Disabled State =============================== */
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
