@use "../../../../assets/scss/theme/colors" as colors;

// Button style pill
.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background-color: colors.$p-2;
  color: colors.$white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background-color: colors.$primary-4;
    outline: 3px solid red;
    outline-offset: 2px;
  }
}
