// _typography.scss
$font-primary: "Archivo", sans-serif;

body {
  font-family: var(--font-archivo);
}

h1,
.h1 {
  font-family: $font-primary;
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2.375rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.875rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-lg {
  font-size: 1.375rem; // 22px
  font-weight: 500;
}

.body-md {
  font-size: 1.25rem; // 20px
  font-weight: 500;
}

.body-sm {
  font-size: 1rem; // 16px
  font-weight: 500;
}

.body-xs {
  font-size: 0.875rem; // 14px
  font-weight: 500;
}

.body-xxs {
  font-size: 0.75rem; // 12px
  font-weight: 500;
}
