@import "tailwindcss";

:root {
  /* Primary Colors */
  --primary-1: #f9ccc8;
  --primary-2: #f5958a;
  --primary-3: #ed5735;
  --primary-4: #b13f25;
  --primary-5: #792816;
  --primary-6: #451408;
  --primary-7: #250703;

  /* Secondary Colors */
  --secondary-1: #e9ecf3;
  --secondary-2: #bac4d9;
  --secondary-3: #8b9ec1;
  --secondary-4: #677999;
  --secondary-5: #48566e;
  --secondary-6: #2c3545;
  --secondary-7: #121720;

  /* Tertiary Colors */
  --tertiary-1: #ecf0ff;
  --tertiary-2: #bacaff;
  --tertiary-3: #7da2ff;
  --tertiary-4: #007bff;
  --tertiary-5: #0059bc;
  --tertiary-6: #00397d;
  --tertiary-7: #001b43;

  /* Quaternary Colors */
  --quaternary-1: #b1ffb0;
  --quaternary-2: #05e300;
  --quaternary-3: #03b700;
  --quaternary-4: #028d00;
  --quaternary-5: #016400;
  --quaternary-6: #003f00;
  --quaternary-7: #001d00;

  /* Standard Colors */
  --white: #ffffff;
  --black: #000000;

  /* Additional Colors */
  --p-1: var(--secondary-6);
  --p-2: var(--primary-3);
  --font-color: var(--black);

  --p-1-opacity-10: rgba(var(--secondary-6), 0.1);
  --p-hover-1: rgba(var(--secondary-6), 0.15);
  --p-2: var(--primary-3);
}

/* =====================================
      RESET
===================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* =====================================
        TYPOGRAPHY
===================================== */

body {
  font-family: var(--font-archivo);
}

h1,
.h1 {
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2.375rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.875rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-22 {
  font-size: 1.375rem; /* 22px */
  font-weight: 500;
}

.body-20 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
}

.body-16 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
}

.body-14 {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
}

.body-12 {
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
}

.header-70 {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1.2;
}
