.menu-item {
  --active-color: var(--primary-3);
  /* för rundad fade?
  border-radius: 999px;  */
  border-radius: 8px;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  cursor: pointer;
  list-style: none;

  &:hover {
    background: #f8f9fb;
  }

  &.active {
    /* solid färg, ingen fade?
     background: linear-gradient(90deg, #fff1ed 0%, rgba(255, 241, 237, 0.65) 55%, rgba(255, 241, 237, 0) 100%); */
    background: #fff7f5;

    & .menu-icon {
      background-color: var(--active-color);
      color: var(--white);
    }

    & .menu-text {
      color: var(--active-color);
    }

    & .notification {
      background-color: var(--active-color);
    }
  }

  & .menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
  }

  & .left-column {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  & .menu-icon {
    background-color: var(--p-1-opacity-10);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-5);
  }

  & .menu-text {
    color: var(--secondary-7);
    font-size: 0.85rem;
    font-weight: 600;
  }

  & .notification {
    background-color: var(--secondary-6);
    border-radius: 100vw;
    color: var(--white);
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
